.logo__container {}

.logo__image img {
    display: block;
    margin: 0 auto;
}

.logo__email a {
    color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.logo__email:hover a {
    text-decoration: underline;
    color: rgba(255, 255, 255, 1);
}