.Menu__button {
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    right: 160px;
    top: 80px;
    z-index: 100;
}

.burger__button {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    margin: 0.5rem auto;
    width: 3rem;
    height: 0.3rem;
    transition: all .5s ease-in-out;
}

.Menu__button div:nth-child(1) {
    transform: translateX(-1rem);
}

.Menu__button:hover div {
    background: rgba(255, 255, 255, 0.6);
}

.Menu__button div:nth-child(3) {
    transform: translateX(-1rem);
    background: rgb(35, 41, 148);
}

.button__active div:nth-child(1) {
    transform: rotate(-45deg) translateX(-1.1rem);
    background: rgba(255, 255, 255, 1);
}

.button__active div:nth-child(2) {
    transform: translateX(15rem);
    background: rgba(255, 255, 255, 1);
}

.button__active div:nth-child(3) {
    transform: rotate(45deg) translateX(-1.1rem);
    background: rgba(255, 255, 255, 1);
}


.Menu__links {
    align-items: left;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    height: 35vh;
    position: fixed;
    top: calc(-35vh);
    transition: 0.7s;
    width: 100%;
    transition: all .5s ease-in-out;
    z-index: 10;
}

.links__content {
    display: grid;
    width: 70%;
    height: 35vh;
    grid-template-columns: repeat(4fr, 1);
    grid-template-rows: 35vh;
    z-index: 5;
}


.links__content div:nth-child(1) {
    grid-column: 1;
}

.links__content div:nth-child(2) {
    grid-column: 2;
}

.links__content div:nth-child(3) {
    grid-column: 3;
}

.link__container {
    position: relative;
    transition: all .5s ease-in-out;
    width: 100%;
    height: 35vh;
}

.link__container:hover {}

.link {
    color: rgba(0, 0, 0, 0.5);
    font-size: 70px;
    text-decoration: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.link:hover {
    color: rgba(0, 0, 0, 1);
}

.Menu__links--visible {
    top: 0;
}