.Menu__button {
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    right: 16vw;
    top: 12vh;
    z-index: 100;
}

.burger__button {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    margin: 0.5rem auto;
    width: 3rem;
    height: 0.3rem;
    transition: all .5s ease-in-out;
}

.Menu__button div:nth-child(1) {
    transform: translateX(-1rem);
}

.Menu__button:hover div {
    background: rgba(255, 255, 255, 0.6);
}

.Menu__button div:nth-child(3) {
    transform: translateX(-1rem);
    background: rgb(35, 41, 148);
}

.button__active div:nth-child(1) {
    transform: rotate(-45deg) translateX(-1.1rem);
    background: rgb(255, 255, 255);
}

.button__active div:nth-child(2) {
    transform: translateX(25vw);
    background: rgba(255, 255, 255, 1);
}

.button__active div:nth-child(3) {
    transform: rotate(45deg) translateX(-1.1rem);
    background: rgba(255, 255, 255, 1);
}


.Menu__links {
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    top: calc(-100vh);
    transition: 0.7s;
    width: 100%;
    transition: all .5s ease-in-out;
    z-index: 10;
}

ul,
li {
    padding: 0;
    margin: 0;
}

.Menu__links li {
    list-style: none;
    font-size: 2vw;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Menu__links--visible {
    top: 0;
}