.Menu__button {
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: fixed;
    right: 160px;
    top: 80px;
    z-index: 100;
}

.burger__button {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    margin: 0.5rem auto;
    width: 3rem;
    height: 0.3rem;
    transition: all .5s ease-in-out;
}

.Menu__button div:nth-child(1) {
    transform: translateX(-1rem);
}

.Menu__button:hover div {
    background: rgba(255, 255, 255, 0.6);
}

.Menu__button div:nth-child(3) {
    transform: translateX(-1rem);
    background: rgb(35, 41, 148);
}

.button__active div:nth-child(1) {
    transform: rotate(-45deg) translateX(-1.1rem);
    background: rgba(255, 255, 255, 1);
}

.button__active div:nth-child(2) {
    transform: translateX(15rem);
    background: rgba(255, 255, 255, 1);
}

.button__active div:nth-child(3) {
    transform: rotate(45deg) translateX(-1.1rem);
    background: rgba(255, 255, 255, 1);
}

.Menu__content {
    height: 100vh;
}

.Menu__links {
    align-items: center;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    top: calc(-1000px);
    transition: 0.7s;
    width: 100%;
    transition: all .5s ease-in-out;
    z-index: 10;
}

.links__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50%;
    margin: auto 0;
    position: relative;
    z-index: 10;
}

.content__background {
    position: absolute;
    z-index: 3;
}

.content__background h1 {
    margin: 0;
    font-size: 600px;
    color: rgba(120, 120, 120, 0.05);
}

.links__content a {
    margin: -5px;
    font-size: 40px;
}

.links__content a {
    margin-bottom: 5rem;
    padding-bottom: 1rem;
}

.link {
    border-bottom: 5px solid transparent;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    margin-bottom: 10rem;
    transition: all .5s ease-in-out;
    text-decoration: none;
}

.link:hover {
    border-bottom: 5px solid rgba(255, 255, 255, 0.8);
}

.Menu__links--visible {
    top: 0;
}