@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap');

.ContactPage {
    width: 100vw;
    padding-top: 10vh;
    position: relative;
    font-family: 'Chakra Petch', sans-serif;
}

.ContactPage__content {
    width: 70%;
    margin: 0 auto;
    transform-style: preserve-3d;
}

.ContactPage__contacts {
    margin: 0 auto 100px auto;
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ContactPage__background {
    position: absolute;
    top: 0;
    z-index: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ContactPage__background h1 {
    position: absolute;
    margin: 0;
    font-size: 50vh;
    color: rgba(238, 238, 238, 0.03);
    -webkit-transform: translateZ(-999px) scale(1);
    transform: translateZ(-999px) scale(1);
}

.ContactPage__form {
    height: 400px;
    padding: 30px;
    width: 50%;
    border: 3px solid rgba(247, 247, 247, 0.9);
}

.input__animation {
    position: relative;
}


.input {
    width: 100%;
    margin-bottom: 3rem;
    display: block;
    border: none;
    border-bottom: solid 3px rgba(238, 238, 238, 0.2);
    background-color: transparent;
    resize: vertical;
    font-size: 1rem;
    transition: 0.5s ease-in-out;
    font-family: 'Chakra Petch', sans-serif;
}

label {
    color: white;
    position: absolute;
    pointer-events: none;
    top: 5px;
    pointer-events: none;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

input[type="text"],
textarea[type="text"] {
    color: white;
    font-size: 15px;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -20px;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

textarea {
    resize: none;
}

::placeholder {
    color: white
}

::-webkit-resizer {
    display: none;
}

.button {
    border: none;
    outline: none;
    width: 20%;
    height: 50px;
    font-family: 'Chakra Petch', sans-serif;
    background-color: rgba(247, 247, 247, 0.9);
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(238, 238, 238, 0.8);
}

.message-input {
    height: 7rem;
}

.message-name,
.message-email {
    height: 2rem;
}

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    top: -50px;
    position: absolute;
    background: rgba(247, 247, 247, 0.9);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
input:focus~.bar:before,
input:focus~.bar:after,
textarea:focus~.bar:before,
textarea:focus~.bar:after {
    width: 50%;
}

.ContactPage__socials {
    height: 400px;
    padding: 30px;
    border: 3px solid rgba(247, 247, 247, 0.9);
    width: 30%;
    display: flex;
    flex-direction: column;
}

.socials h4 {
    color: white;
    font-size: 17px;
}

.socials p {
    color: rgba(247, 247, 247, 0.9);
}

.socials a {
    color: rgba(247, 247, 247, 0.9);
}

.socials {}