@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

.MainPage {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    color: white;
    font-family: 'Notable', sans-serif;
    position: relative;
}

.MainPage__background {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9998;
    background-color: rgba(120, 120, 120, 0.15);
}

.MainPage__time {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: rotate(270deg);
}

.MainPage__time h4 {
    display: inline-block;
    padding-left: 10px;
    margin: 0
}

.MainPage__time h4:nth-child(1) {
    width: 80px;
    color: rgb(35, 41, 148);
}

.MainPage__time h4:nth-child(2) {
    color: rgb(235, 59, 38)
}

.MainPage__text {
    position: absolute;
    top: 70px;
    left: 120px;
}

.MainPage__text h1 {
    font-size: 40px;
    margin: 10px 0;
}

.MainPage__socials {
    position: absolute;
    bottom: 70px;
    left: 120px;
}

.MainPage__socials h3 {
    padding-left: 15px;
}

.MainPage__logo {
    position: absolute;
    bottom: 70px;
    right: 120px;
}