@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap');

.MainPage {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    position: relative;
}

.MainPage__content {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.MainPage__background {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9998;
    background-color: rgba(120, 120, 120, 0.22);
}

.MainPage__text {
    position: absolute;
    top: 10vh;
    left: 0;
}

.MainPage__text h1 {
    font-size: 50px;
    margin: 10px 0;
    letter-spacing: 3px;
}

.MainPage__text h3 {
    letter-spacing: 2px;
}

.text__colored h3 {
    display: inline;
}

.MainPage__socials {
    position: absolute;
    bottom: 10vh;
    left: 0;
}

.MainPage__socials h3 {
    padding-left: 15px;
}

.MainPage__logo {
    position: absolute;
    bottom: 10vh;
    right: 0;
}

.MainPage__logo a {
    font-size: 22px;
}